.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.App-header {
    background-color: #004d40;
    padding: 20px;
    color: white;
}

.App-content {
    flex: 1;
}

.Izit-title {
    width: 12vw;
    cursor: pointer;
}

.Izit-description {
    font-family: cour;
    font-size: 1.5vw;
    margin-top: 1%;
}

.App-intro {
    font-size: large;
}

.context-wrapper {
    padding: 1em 1em;
    margin: 0 auto;
    max-width: 60em;
}

.card-wrapper {
    padding: 30px;
}

.izit-screen {
    max-width: 70em;
}

.fields-description {
    color: #c9d1c8;
    font-size: 12px;
}

.sub-button {
    margin-top: 20px;
}

.nowhere {
    font-family: open-sans-heb-light;
    padding: 1em 1em;
    margin: 0 auto;
    max-width: 50em;
}

.reached {
    margin-top: 10px;
    font-size: 25px;
}

.nowhere-title {
    font-size: 100px;
    margin-bottom: 10px;
}

.how-that-happened {
    margin: 26px 0;
    font-size: 28px;
}

.go-back-button {
    font-size: 14px;
}

.time-wrapper {
    margin: 5vh 0;
}

.optional-list {
    margin-top: 5%;
}

.error-panel {
    color: red;
    margin: 10px;
}

#clockdiv {
    font-family: 'digital-clock-font';
    font-size: 6vw;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
}

#clockdiv>div {
    padding: 4px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #212121;
    display: inline-block;
}

.min-dig {
    min-width: 90px;
}

.digits-wrapper {
    background: #004d40;
    padding: 10px;
}

.digits-overtime {
    color: red;
}

.is-ticking {
    color: #212121;
    margin: 10px;
    font-size: 6vw;
}

.smalltext {
    font-family: reformaregular;
    color: #004d40;
    padding-bottom: 5px;
    font-size: 1.7vw;
}

.what {
    font-size: 85px; //fallback
    font-size: 5.3vw;
    font-family: goth;
}

.youtube-panel {
    margin: 2%;
    display: inline-block;
}

.about-page {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.58;
    letter-spacing: -.003em;
    max-width: 33em;
    text-align: justify;
}

.about-quote {
    color: #c9d1c8;
}

.about-quote-sentence {
    font-style: italic;
    text-align: center;
}

.about-quote-author {
    margin-top: 10px;
    font-size: 16px;
    text-align: right;
}

#about>h1 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.15;
    letter-spacing: -.02em;
}

#about>.content {
    margin-top: 25px;
}

#about>span .name {
    font-weight: bold;
}

#about>div .name-and-nick {
    color: #004d40;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
}

#about>.now-what {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#about>div .now {
    margin: 10px;
}

#about>div .now>a {
    text-decoration: none;
    color: #004d40;
}

.about-member {
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
}

.about-member-content {
    margin-left: 58px;
}

.about-avatar {
    margin-right: 5px;
}

.sharing {
    margin: 10px;
    text-align: center;
    align-items: center;
}

.share-item {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.preview-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
}

.preview {
    display: flex;
    max-width: 400px;
    padding: 5px;
    margin-top: 22px;
    border: 1px solid #004d40;
    border-radius: 5px;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preview .prev-image-wrapper {
    
}

.preview .prev-image {
    width: 85px;
    height: 65px;
    padding: 5px;
}

.preview .prev-data {
    text-align: left;
    padding: 5px;
    flex-direction: column;
}

.preview .title {
    display: inline-block;
    max-width: 305px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #004d40;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
}


/* I took this part from https://knackforge.com/blog/manoj/multi-line-ellipsis-using-simple-css  */


/* styles for '...' */

.block-with-text {
    /* Over flow hidden hides the text if it is more than N lines  */
    overflow: hidden;
    /* To set '...' in absolute position */
    position: relative;
    /* Use this value to count block height */
    line-height: 1.2em;
    /* Max-height = line-height (1.2) * lines max number (2) */
    max-height: 2.4em;
    /* If the last visible word doesn't adjoin right side then this will fix the problem */
    text-align: justify !important;
}

/* hide ... if we have text, which is less than or equal to max lines */

.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 20px;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.footer {
    font-family: open-sans-heb-light;
    text-align: center;
    background-color: #004d40;
    color: #c9d1c8;
    height: 10%;
    padding: 1rem;
    cursor: pointer;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('resources/digital-7.ttf');
}

@font-face {
    font-family: 'cour';
    src: url('./resources/COUR.TTF');
}


/*not sure we need*/

@font-face {
    font-family: 'cour';
    src: url('resources/COURBD.TTF');
    font-weight: bold;
}

@font-face {
    font-family: 'reformaregular';
    src: url('resources/REFORMAREGULAR.TTF');
}

@font-face {
    font-family: 'open-sans-heb-light';
    src: url('resources/OPENSANSHEBREW-LIGHT.TTF');
}

@font-face {
    font-family: 'goth';
    src: url('resources/GOTHICB.TTF');
}

@media (max-width: 600px) {
    /* Styles for screen with max width of 600px */
    .Izit-title {
        width: 30vw;
    }
    .what {
        font-size: 35px; //fallback
        font-size: 10vw;
    }
    .smalltext {
        font-size: 15px;
        font-size: 4.5vw;
    }
    .is-ticking {
        font-size: 11vw;
    }
    .min-dig {
        min-width: 28px;
    }
    .preview{
        max-width: 280px;
    }
    .prev-data {
        max-width: 205px;
    }
    .preview .title {
        max-width: 190px;
    }
}